# Florida Education and Occupation Information
This extracts the all information in the 2013-2017 American Community Survey PUMS Data into a pandas data frame. Then key variables are obtained to gather aggregate information on what are the wages (WAGP) of the people of Florida based on their level of education (SCHL), field of degree (FOD1P) and occupation (OCCP).

## Variables Used:
Wages (WAGP)<br>
Level of Education (SCHL)<br>
Field of Degree (FOD1P)<br>
Occupation (OCCP)<br>
Sex (SEX)<br>
### Dependencies:

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Reading and Organizing the Data
The data is downloaded as a csv from US Census Bureau as a CSV.<br>
Data can be downloaded here:<br>https://www2.census.gov/programs-surveys/acs/data/pums/2017/5-Year/<br>
It is then read in to a Pandas DataFrame<br>
The columns are coded according the 2013-2017 ACS PUMS Data Dictionary<br>
Data Dictionary can be found here:<br>
https://www2.census.gov/programs-surveys/acs/tech_docs/pums/data_dict/PUMS_Data_Dictionary_2013-2017.pdf?#

In [2]:
#Loading Florida Data csv file
file_to_load = 'data_files/psam_p12.csv'
#Converting to Pandas df
degree_data = pd.read_csv(file_to_load)
# degree_data.head()

## Degree Codes

In [3]:
# getting the degree codes and names 
# Converted the information to a csv from the Data Dictionary using Excel

degree_code = pd.read_csv("data_files/degree_codes.csv", header = None)
degree_code = pd.DataFrame(degree_code)
degree_code = degree_code.rename(columns = {0: "degree_code",
                                            1: "degree_name"})
# degree_code.head()

## Degree Counts/Wages

In [4]:
#grouping by degree code
obs = degree_data.groupby('FOD1P')
#getting counts of people for each degree
degree_counts = pd.DataFrame(obs.size())
#getting mean wage for each degree
income = pd.DataFrame(obs.mean()['WAGP'])

#merging frames
income_per_degree = degree_counts.merge(income, on = 'FOD1P')\
                    .reset_index()
#renaming columns
income_per_degree = income_per_degree.rename(columns = {"FOD1P": "degree_code",
                                                        0: "number_of_people",
                                                        "WAGP":"wage/salary"})
# income_per_degree.head()

## Male/Female Wage Data

In [19]:
#grouping degree information by sex
male = degree_data[degree_data['SEX'] == 1].groupby('FOD1P')
female = degree_data[degree_data['SEX'] == 2].groupby('FOD1P')
#obtaining male and female mean wages per degree
male_wage = pd.DataFrame(male.mean()['WAGP'])
female_wage = pd.DataFrame(female.mean()['WAGP'])
                    
#obtaining percentages of male and female per degree
male_perc = pd.DataFrame(male.size())
male_perc = male_perc / degree_counts * 100

female_perc = pd.DataFrame(female.size())
female_perc = female_perc / degree_counts * 100
# merging data into one frame and renaming columns
sex_data = male_perc.merge(male_wage, on = 'FOD1P').reset_index()
sex_data = sex_data.merge(female_perc, on = 'FOD1P')
sex_data = sex_data.merge(female_wage, on = 'FOD1P')

sex_data.columns = ['degree_code',
                    'male_%',
                    'male_wage',
                    'female_%',
                    'female_wage']

sex_data = degree_code.merge(sex_data, on = 'degree_code')
#cleaning data
sex_data = sex_data.drop('degree_code',axis = 1)
sex_data = sex_data.round(2)
#Saving the data to a csv
sex_data.to_csv('data_to_plot/FloridaSexDiffWages.csv', index = False)

sex_data.head()

,degree_name,male_%,male_wage,female_%,female_wage
0,General Agriculture,78.76,39174.39,21.24,31134.34
1,Agriculture Production And Management,78.76,43735.96,21.24,44783.75
2,Agricultural Economics,79.35,58839.73,20.65,68900.00
3,Animal Sciences,40.91,52704.17,59.09,40939.42
4,Food Science,50.98,67197.12,49.02,40683.00

## People Looking for Jobs

In [11]:
#grouping data by degree code only including people that are looking for a job
obs_looking = degree_data[degree_data['NWLK'] == 1].groupby('FOD1P')
#getting counts of people for each degree and renaming column
looking_counts = pd.DataFrame(obs_looking.count()[['RT']]).reset_index()
looking_counts = looking_counts.rename(columns = {"FOD1P": "degree_code",
                                                  "RT": "looking"})

# looking_counts.head()

## People working on Non-Degree jobs

In [12]:
#gathered the keys for what are considered low_end/non-college jobs (Servers,telemarketers, etc.) 
# Here's our list of low-end jobs (obtained from 2013-2017 ACS PUMS Data Dictionary)

# 4020 .EAT-COOKS
# 4030 .EAT-FOOD PREPARATION WORKERS
# 4040 .EAT-BARTENDERS
# 4050 .EAT-COMBINED FOOD PREPARATION AND SERVING WORKERS,
# .INCLUDING FAST FOOD
# 4060 .EAT-COUNTER ATTENDANTS, CAFETERIA, FOOD CONCESSION, AND
# .COFFEE SHOP
# 4110 .EAT-WAITERS AND WAITRESSES
# 4120 .EAT-FOOD SERVERS, NONRESTAURANT
# 4130 .EAT-MISCELLANEOUS FOOD PREPARATION AND SERVING RELATED
# .WORKERS, INCLUDING DINING ROOM AND CAFETERIA ATTENDANTS AND
# .BARTENDER HELPERS
# 4140 .EAT-DISHWASHERS
# 4150 .EAT-HOSTS AND HOSTESSES, RESTAURANT, LOUNGE, AND COFFEE SHOP
# 4220 .CLN-JANITORS AND BUILDING CLEANERS
# 4230 .CLN-MAIDS AND HOUSEKEEPING CLEANERS
# 4240 .CLN-PEST CONTROL WORKERS
# 4250 .CLN-GROUNDS MAINTENANCE WORKERS
# 4720 .SAL-CASHIERS
# 4740 .SAL-COUNTER AND RENTAL CLERKS
# 4750 .SAL-PARTS SALESPERSONS
# 4760 .SAL-RETAIL SALESPERSONS
# 4940 .SAL-TELEMARKETERS

low_end_jobs = [4020,4030,4040,4050,4060,4110,4120,4130,4140,4150
                ,4220,4230,4240,4250,4720,4740,4750,4760,4940]
data_low_end = degree_data[degree_data["OCCP"].isin(low_end_jobs)]

low_end_counts = pd.DataFrame(data_low_end.groupby('FOD1P').size()).reset_index()
low_end_counts = low_end_counts.rename(columns = {0 : "non-degree jobs",
                                                  "FOD1P": "degree_code",})

# low_end_counts.head()

## Occupation Codes

In [13]:
# getting the Occupation codes and names 
# obatined from 2013-2017 ACS PUMS Data Dictionary

occ_code = pd.read_csv("data_files/Occupation_codes.csv", header = None)
occ_code = pd.DataFrame(occ_code)
occ_code = occ_code.rename(columns = {0: "occupation_code",
                                     1: "occupation_field",
                                     2: "occupation_name"})
occ_code = occ_code.dropna(1)
# occ_code.head()

## Information on Non-College persons

In [21]:
# Using the Data Dictionary, the a range of leve of educations can be obtained

# 12 .Grade 9
# 13 .Grade 10
# 14 .Grade 11
# 15 .12th grade - no diploma
# 16 .Regular high school diploma
# 17 .GED or alternative credential

non_college = list(range(12,18))

# getting all the data for people that are or have not been college students
data_non_college = degree_data[degree_data["SCHL"].isin(non_college)]
#create dataframe
non_college_counts = pd.DataFrame(data_non_college.groupby('OCCP').size()).reset_index()
non_college_wage = pd.DataFrame(data_non_college.groupby('OCCP').mean())[["WAGP"]].reset_index()
non_college_data = non_college_counts.merge(non_college_wage, on = 'OCCP')
non_college_data = non_college_data.rename(columns = {0 : "non-college count",
                                                      "OCCP": "occupation_code",
                                                      "WAGP":"wage/salary"})
#merging occupation codes with salary information
occ_full_data = occ_code.merge(non_college_data, on = "occupation_code")
#cleaning data
occ_full_data = occ_full_data.drop('occupation_code', axis = 1)
occ_full_data = occ_full_data.round(2)
#Saving the data to a csv
occ_full_data.to_csv('data_to_plot/FloridaOccuWages.csv')

occ_full_data.head()

,occupation_field,occupation_name,non-college count,wage/salary
0,MGR,General And Operations Managers,678,56697.05
1,MGR,Advertising And Promotions Managers,13,78538.46
2,MGR,Marketing And Sales Managers,374,49620.05
3,MGR,Public Relations And Fundraising Managers,10,69520.00
4,MGR,Administrative Services Managers,107,36976.64

## Compiling Florida Education Wages Data

In [22]:
#merge to a final dataframe including all data
full_data = degree_code.merge(income_per_degree, on = 'degree_code')
full_data = full_data.merge(low_end_counts, on = 'degree_code')
full_data = full_data.merge(looking_counts, on = "degree_code")

#finding percentages for people looking for jobs
full_data["looking_%"] = full_data["looking"]\
                                /full_data["number_of_people"]\
                                * 100
#finding percentages of people in non-degree jobs
full_data["NDJ_%"] = full_data["non-degree jobs"]\
                        /full_data["number_of_people"]\
                        * 100
#cleaning data
full_data = full_data.drop('degree_code',axis = 1)
full_data = full_data.round(2)
#Saving the data to a csv
full_data.to_csv('data_to_plot/FloridaEduWages.csv', index = False)

full_data.head()

,degree_name,number_of_people,wage/salary,non-degree jobs,looking,looking_%,NDJ_%
0,General Agriculture,466,37466.31,24,10,2.15,5.15
1,Agriculture Production And Management,226,43958.50,16,6,2.65,7.08
2,Agricultural Economics,92,60917.39,5,1,1.09,5.43
3,Animal Sciences,352,45752.27,19,12,3.41,5.40
4,Food Science,204,54200.00,7,10,4.90,3.43

# Data is now now ready for further analysis/visualization
 CSVs have been created to include all the information to be further analysed, and there are the headers for each CSV:<br>
This information collected for each degree<br>

### FloridaEduWages.csv
degree_name : name of degree<br>
number_of_people : number of people with that degree<br>
wage/salary : wages or salary income past 12 months<br>
non-degree jobs: number of people working in a job not in their field<br>
looking : people looking for jobs <br>
looking_% : percentage of people looking for jobs<br>
NDJ_% : percentage of people working in a job not in their degree<br>

### FloridaOccuWages.csv
occupation_field : abbreviation of the field of the occupation<br>
occupation_name : name of occupation<br>
number_of_people : number of people with that degree<br>
wage/salary : wages or salary income past 12 months<br>

### FloridaSexDiffWages.csv
degree_name	: name of degree<br>
male_% : percentage of male persons<br>
male_wage : count of male persons<br>
female_% : percentage of female persons<br>
female_wage : count of female persons <br>